@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;500&family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: #FBF1EB;
    background-color: #48494D;
    max-width: 100vw;
    min-height: 100vh;
}

/* headings and logo */

h1, h2 {
    font-family: 'Poiret One', Helvetica, sans-serif;
    color: #DBC8BD;
}

h3 {
    font-family: 'Great Vibes', sans-serif;
    color: #FBF1EB;
    font-size: 200%;
    font-weight: 300;
}

.header-center {
    font-size: 220%;
}

.logo {
    
    float: left;
    text-decoration: none;
    position: relative;
    z-index: 3;
    display: block;
}

h1 {
    height: 20vh;
    width: 30vw;
}

.logo img {
    padding-top: 2%;
    padding-left: 2%;
    height: 26vh;
    width: fit-content;
}

.logo-small img {
    width: 50%;
    height: auto;
}

/* navigation links */

.menu {
    font-size: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 132px;
    z-index: 2;
}

.menu li {
    list-style-type: none;
    margin-right: 3%;
    float: right;  
}

.menu a {
    text-decoration: none;
    color: #DBC8BD;
    font-weight: 500;
}

.menu a:hover {
    border-bottom: 1px solid #DBC8BD;
}

.active {
    border-bottom: 1px solid #DBC8BD;
}

/* hero image and cover text */

.cover-text, #cover-text h2 {
    color: #FBF1EB
}

.hero-image {
    margin-bottom: 40vh;
}

.hero-image-crop {
    height: 55vh;
    width: 100vw;
    background: url('../images/grapes-header.png') no-repeat top;
    object-fit: cover;
    margin-left: 0;
    top: 19vh;
    position: relative;    
    overflow: hidden;
}

.cover-text {
    font-size: 130%;
    width: 20vw;
    height: auto;
    border-radius: 10%;
    position: absolute;
    padding: 2%;
    float: right;
    bottom: 5vh;
    right: 3vw;
    background-color: rgba(19, 17, 10, 0.7);
    text-align: left;
    z-index: 2;
    letter-spacing: 0em;
}

.cover-question {
    font-size: 150%;
}

/* About us */

.about-us {
    width: 60vw;
    height: fit-content;
    text-align: justify;
    bottom: 15vh;
    padding: 3vh 5vw;
    margin: auto;
    border: 1px solid #DBC8BD;
    position: relative;
    display: block;
}

.breathing-space {
    padding-top: 5%;
    padding-bottom: 5%;
}

.underline-about {
    width: 180px;
    border-bottom: 1px solid #DBC8BD;
    margin: auto;
    padding-bottom: 3px;
    text-align: right;
}

.vineyard-pics {
    width: 150px;
    height: auto;
    border-radius: 50%;
    opacity: 0.6;

    border: 1px solid #FBF1EB;
    outline: 1px solid #DBC8BD;
    outline-offset: -5px;
    padding: 10px;
    position: relative;
    line-height: 10px;
}

.float-left {    
    shape-outside: circle();
    float: left;
    padding: 30px;
}

.float-right {
    shape-outside: circle();
    float: right;
    padding: 20px;
}

/* footer */

#footer-bottom {
    height: fit-content;
    width: 100%;
    display: block;
    position: relative;
    bottom: 0;
    background-color: rgba(19, 17, 10, .6);
    z-index: 1;
}

#footer-bottom > p {
    color: #BBA395;
    padding: 5px;
    text-align: center;
    font-size: 60%;
}

.footer-links {    
    text-align: center;
    display: block;
    height: 7%;
}

.footer-links li {
    list-style: none;
    display: inline;
}

.footer-links i {
    text-decoration: none;
    color: #bba395;
    font-size: 160%;
    margin: 1%;
    padding: 1% 5%;
    z-index: 5;
}

.footer-links i:hover {
    color: #FBF1EB;
}


/* products heading */

.products-h2 {
    display: block;
    width: 100vw;
    position: relative;
}

.products-heading {
    position: relative;
    top: 17vh;
    height: fit-content;
    width: 100vw;
    display: block;
}

.products-heading h2 {
    width: 40vw;
    height: 6vh;
    text-align: center;
}

.underline-products {
    width: 230px;
    border-bottom: 1px solid #DBC8BD;
    margin: auto;
    padding-bottom: 1%;
    text-align: right;
}


/* products pictures and hover effect*/

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-end;
    position: relative;
    width: 100vw;
    height: 62vh;
    margin-left: auto;
    margin-top: 15%;   
}

.products > p {
    max-height: inherit;
}

.red {
    background: url('../images/red-wine.jpg') no-repeat center;
    background-size: cover;
    height: 59vh;
    width: 19vw;
    padding: 5px;
    position: relative;
    opacity: 0.7;
    border: 1px solid #DBC8BD;
    border-radius: 10%;
    outline: 1px solid #DBC8BD;
    outline-offset: -20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin: 2%;
}

.red h3 {
    position: absolute;
    color: rgba(19, 17, 10, 0.7);
    margin: auto;

}

.white {
    background: url('../images/white-wine.jpg') no-repeat center;
    background-size: cover;
    height: 59vh;
    width: 19vw;
    padding: 5px;
    position: relative;
    opacity: 0.7;
    border: 1px solid #DBC8BD;
    border-radius: 10%;
    outline: 1px solid #DBC8BD;
    outline-offset: -20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin: 2%;
}
.white h3 {
    position: absolute;
    color: rgba(19, 17, 10, 0.7);
    margin: auto;
}

.rose {
    background: url('../images/rose-wine.jpg') no-repeat center;
    background-size: cover;
    height: 59vh;
    width: 19vw;
    padding: 5px;
    position: relative;
    opacity: 0.7;
    border: 1px solid #DBC8BD;
    border-radius: 10%;
    outline: 1px solid #DBC8BD;
    outline-offset: -20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin: 2%;
}

.rose h3 {
    position: absolute;
    color: rgba(19, 17, 10, 0.7);
    margin: auto;
}

.mead {
    background: url('../images/mead.jpg') no-repeat center;
    background-size: cover;
    height: 59vh;
    width: 19vw;
    padding: 5px;
    position: relative;
    opacity: 0.7;
    border: 1px solid #DBC8BD;
    border-radius: 10%;
    outline: 1px solid #DBC8BD;
    outline-offset: -20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin: 2%;
}

.mead h3 {
    position: absolute;
    color: rgba(19, 17, 10, 0.7);
    margin: auto;
}

.description {
    padding: 15%;
    margin: auto;
    text-align: center;
    position: absolute;
}

.description p {
    font-size: 85%;
    margin-top: 25%;
    font-weight: 400;
    opacity: 0;
    z-index: 1;
    position: relative;    
}

.red:hover, .white:hover, .rose:hover, .mead:hover {
    background: linear-gradient(#7f6a5d, #BBA395);
}

.description p:hover {
    opacity: 1;
    color: rgb(19, 17, 10);
}


/* Contact Us background */

.grapes-background {
    background: url('../images/grapes-header.png') no-repeat bottom;
    bottom: 0;
    width: 100vw;
    object-fit: cover;
    position: relative;
    z-index: 0;
}


/* contact details */

#contact-sections {
    width: 80vw;
    max-height: 70vh;
    height: fit-content;    
    display: inline-block;
    text-align: center;
    padding: 8%;
    position: relative;
    font-size: 90%;
    margin-top: -5%;
}

.contact {
    width: 30vw;
    height: fit-content;
    padding: 2%;
    display: inline;
    float: right;
    position: relative;
    background-color: rgba(19, 17, 10, 0.7);
    border-radius: 10%;  
    margin-bottom: -3%;  
}

.contact-heading {

    width: fit-content;
    height: fit-content;
    max-height: 5vh;
    margin: auto;
    text-align: center;
    padding: 5px;
}

.contact-heading p {
    font-style: italic;
    color: #DBC8BD;
    font-weight: 400;
    font-size: 80%;
}

.underline-contact {
    width: 250px;
    border-bottom: 1px solid #DBC8BD;
    margin: auto;
    padding-bottom: 3px;
}

.contact-bold {
    font-weight: 600;
    color: #DBC8BD;
}

.contact-italic {
    font-style: italic;
}

.contact-left {
    text-align: center;
    width: 20vw;
    height: fit-content;
    display: inline-block;
    padding: 5%;
    margin: auto;
}

.contact-map {
    margin: auto;
    display: block;
    position: relative;
    overflow: hidden;
}

iframe {
    margin: 5%;
    width: 30vw;
    height: auto;
}

/* Contact form */

form p {
    margin-top: 5%;
    max-height: 2vh;
    padding-top: 5%;
    padding-bottom: 2%;
    text-transform: uppercase;
    font-size: 80%;
    color: #DBC8BD;
    font-weight: 600;
}

.form {
    width: 35vw;
    height: fit-content;
    padding: 2%;
    display: inline;
    float: left;
    position: relative;
    background-color: rgba(19, 17, 10, 0.7);
    border-radius: 10%;
}

.message-box {
    width: 70%;
    height: fit-content;
    padding: 3%;
    border: 1px solid #BBA395;
    margin: auto;
    vertical-align: text-top;
}

.message-box input {
    width: 100%;
    overflow: scroll;
}

#message {
    height: fit-content;
    width: 100%;

}

.radio {
    font-size: 80%;
    text-align: center;
}

input[type="radio"] {
    accent-color: rgba(244, 205, 166, 0.3);
    text-align: start;
    
}

#submit {
    width: 6vw;
    height: 5vh;
    font-family: 'Poiret One';
    font-weight: 600;
    font-size: 110%;    
    background-color: rgba(244, 205, 166, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10%;
    overflow: visible;
    padding: 1%;
    margin-top: 2%;
}

/* For screen sizes from 1441px width down */

@media screen and (max-width:1441px) {
    
    .underline-products {
        padding-bottom: 2%;
        height: 4vh;
    }

}

/* For screen sizes from 1082px width down */

@media screen and (max-width: 1082px) {

    .underline-products {
        padding-bottom: 8%;
    }

    .underline-products > h2, .underline-about h2 {
        font-size: 100%;

    }

    .products {
        margin-top: 30vh;
    }
    
/* For screen sizes from 1022px width down */

@media screen and (max-width: 1022px) {

    .logo {
        width: 100vw;
        display: inline-block;
        margin: auto;
        text-align: center;
    }

    .about-us {
        width: 80vw;
    }

    .about-pics {
        float: none;
        margin: auto;
        width: 100%;
        display: block;
        text-align: center;
    }

    .cover-text {
        float: none;
        margin: auto;
        width: 70%;
        height: 50%
        display: block;
        text-align: center;
    }

    menu > li {
        display: block;
        width: 100vw;
        margin: auto;
        float: none;
    }

    .products {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-top: 50%;

    }

    .underline-products {
        padding-top: 5%;
        top: 20%;
    }

    .underline-products > h2, .underline-about h2 {
        font-size: 100%;

    }

    .form {
        display: block;
        width: 80vw;
        margin-bottom: 10vh;
    }

    .contact {
        display: block;
        width: 80vw;
        margin-bottom: 10vh;
    }

    .contact-sections {
        height: 80%;
        overflow: auto;
    }

   
}

