@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;500&family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: #FBF1EB;
    background-color: #48494D;
    max-width: 100%;
    min-height: 100%;
}

/* headings and logo */

h1, h2 {
    font-family: 'Poiret One', Helvetica, sans-serif;
    color: #DBC8BD;
}

h3 {
    font-family: 'Great Vibes', sans-serif;
    color: #FBF1EB;
    font-size: 200%;
    font-weight: 300;
}

.header-center {
    font-size: 220%;
    
}

.logo {
    line-height: 75px;
    float: left;
    text-decoration: none;
    position: relative;
    z-index: 3;
}

.logo img {
    padding-top: 10px;
    padding-left: 30px;
}

.logo-small img {
    width: 30%;
    height: auto;
}

/* navigation links */

.menu {
    font-size: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 132px;
    z-index: 2;
}

.menu li {
    list-style-type: none;
    margin-right: 30px;
    float: right;  
}

.menu a {
    text-decoration: none;
    color: #DBC8BD;
    font-weight: 500;
}

.menu a:hover {
    border-bottom: 1px solid #DBC8BD;
}

.flex-menu > a {
    display: flex;
    flex-direction: row-reverse;
}

.active {
    border-bottom: 1px solid #DBC8BD;
}

/* hero image and cover text */

.cover-text, #cover-text h2 {
    color: #FBF1EB
}

.hero-image {
    margin-bottom: 1vw;
}

.hero-image-crop {
    height: 55vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    background: url('../images/grapes-header.png') no-repeat top;
    object-fit: cover;
    margin-bottom: -20vh;
    margin-left: 0;
    position: relative;    
    overflow: hidden;

}

.cover-text {
    font-size: 130%;
    width: 20vw;
    height: auto;
    border-radius: 10%;
    position: absolute;
    padding: 2%;
    float: right;
    bottom: 5vh;
    right: 3vw;
    background-color: rgba(19, 17, 10, 0.7);
    text-align: left;
    z-index: 2;
    letter-spacing: 0em;
}

.cover-question {
    font-size: 150%;
}

/* About us */

.about-us {
    width: 60vw;
    height: fit-content;
    text-align: justify;
    padding: 3vh 5vw;
    margin: auto;
    border: 1px solid #DBC8BD;
    position: relative;
    top: 150px;
}

.breathing-space {
    padding-top: 40px;
}

.underline-about {
    width: 180px;
    border-bottom: 1px solid #DBC8BD;
    margin: auto;
    padding-bottom: 3px;
    text-align: right;
}

.vineyard-pics {
    width: 150px;
    height: auto;
    border-radius: 50%;
    opacity: 0.6;

    border: 1px solid #FBF1EB;
    outline: 1px solid #DBC8BD;
    outline-offset: -5px;
    padding: 10px;
    position: relative;
    line-height: 10px;
}

.float-left {    
    shape-outside: circle();
    float: left;
    padding: 30px;
}

.float-right {
    shape-outside: circle();
    float: right;
    padding: 20px;
}

/* footer */

#footer-bottom {
    height: fit-content;
    width: 100%;
    display: block;
    position: relative;
    bottom: 0;
    background-color: rgba(19, 17, 10, .6);
    z-index: 1;
}

#footer-bottom > p {
    color: #BBA395;
    padding: 5px;
    text-align: center;
    font-size: 60%;
}

.footer-links {    
    text-align: center;
    display: block;
    height: 7%;
}

.footer-links li {
    list-style: none;
    display: inline;
}

.footer-links i {
    text-decoration: none;
    color: #bba395;
    font-size: 160%;
    margin: 1%;
    padding: 1% 5%;
}

.footer-links i:hover {
    color: #FBF1EB;
}


/* products heading */

.products-heading {
    position: relative;
    top: 10%;
    height: 5%;
    width: auto;
    margin-top: 7%;
}

/* products pictures and hover effect*/

.products {
    display: inline;
    margin: 5%;
    
}

.products img {
    height: auto;
    width: 20%;
    padding: 5px;
    position: relative;
    opacity: 0.7;
    border: 1px solid #DBC8BD;
    border-radius: 10%;
    outline: 1px solid #DBC8BD;
    outline-offset: -20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

.red h3 {
    position: absolute;
    top: 50%;
    left: 50%;
}

/* Contact Us background */

.grapes-background {
    background: url('../images/grapes-header.png') no-repeat bottom;
    bottom: 0;
    width: 100vw;
    object-fit: cover;
    position: relative;
    z-index: 0;
}


/* contact details */

#contact-sections {
    width: 80vw;
    max-height: 70vh;
    height: fit-content;    
    display: inline-block;
    text-align: center;
    padding: 8%;
    position: relative;
    font-size: 90%;
    margin-top: -5%;
}

.contact {
    width: 35vw;
    height: fit-content;
    padding: 2%;
    display: inline;
    float: left;
    position: relative;
    background-color: rgba(19, 17, 10, 0.7);
    border-radius: 10%;  
    margin-bottom: -3%;  
}

.contact-header {

    width: fit-content;
    height: fit-content;
    max-height: 5vh;
    margin: auto;
    text-align: center;
    padding: 5px;
}

.contact-header p {
    font-style: italic;
    color: #DBC8BD;
    font-weight: 400;
    font-size: 80%;
}

.underline-contact {
    width: 250px;
    border-bottom: 1px solid #DBC8BD;
    margin: auto;
    padding-bottom: 3px;
}

.contact-bold {
    font-weight: 600;
    color: #DBC8BD;
}

.contact-italic {
    font-style: italic;
}

.contact-left {
    text-align: center;
    width: 20vw;
    height: fit-content;
    display: inline-block;
    padding: 5%;
    margin: auto;
}

.contact-map {
    margin: auto;
    display: block;
    position: relative;
    overflow: hidden;
}

iframe {
    margin: 5%;
    width: 30vw;
    height: auto;
}

/* Contact form */

form p {
    margin-top: 5%;
    max-height: 2vh;
    padding-top: 5%;
    padding-bottom: 2%;
    text-transform: uppercase;
    font-size: 80%;
    color: #DBC8BD;
    font-weight: 600;
}

.form {
    width: 35vw;
    height: fit-content;
    padding: 2%;
    display: inline;
    float: right;
    position: relative;
    background-color: rgba(19, 17, 10, 0.7);
    border-radius: 10%;
}

.message-box {
    width: 70%;
    height: fit-content;
    padding: 3%;
    border: 1px solid #BBA395;
    margin: auto;
}

.message-box input {
    width: 65%;
    overflow: scroll;
}

#message {
    height: 10vh;
}

.radio {
    font-size: 80%;
    text-align: left;
}

#submit {
    width: 6vw;
    height: 5vh;
    font-family: 'Poiret One';
    font-weight: 600;
    font-size: 110%;    
    background-color: rgba(244, 205, 166, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10%;
    overflow: visible;
    padding: 1%;
}