@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;500&family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: #FBF1EB;
    background-color: #48494D;
}

.breathing-space {
    padding-top: 40px;
}

/* headings and logo */

h1, h2 {
    font-family: 'Poiret One', Helvetica, sans-serif;
    color: #DBC8BD;
}

.underline {
    width: 180px;
    border-bottom: 1px solid #DBC8BD;
    margin: auto;
    padding-bottom: 3px;
}

.header-center {
    font-size: 220%;
    text-align: right;
}

#logo {
    line-height: 75px;
    float: left;
    text-decoration: none;
}

#logo img {
    padding-top: 10px;
    padding-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 80px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    float: right;  
}

#menu a {
    text-decoration: none;
    color: #DBC8BD;
    font-weight: 500;
}

#menu a:hover {
    border-bottom: 1px solid #DBC8BD;
}

.flex-menu > a {
    display: flex;
    flex-direction: row-reverse;
}

.active {
    border-bottom: 1px solid #DBC8BD;
}

/* hero image and cover text */

#cover-text, #cover-text h2 {
    color: #FBF1EB
}

#hero-image {
    height: 740px;
    width: 100%;
    background: url('../images/grapes-header.png') no-repeat;
    object-fit: scale-down;
    padding-bottom: 30px;
    margin-bottom: 60px;
}

#cover-text {
    font-size: 130%;
    width: 300px;
    height: 150px;
    border-radius: 10%;
    position: absolute;
    padding-top: 30px;
    padding-left: 20px;
    float: right;
    bottom: 50px;
    right: 30px;
    background-color: rgba(19, 17, 10, 0.7);
    text-align: left;
    letter-spacing: 0em;
}

.cover-question {
    font-size: 150%;
}

/* About us */

#about-us {
    width: 60vw;
    height: fit-content;
    text-align: justify;
    padding: 40px 60px;
    margin: auto;
    border: 1px solid #DBC8BD;
}

.vineyard-pics {
    width: 150px;
    height: auto;
    border-radius: 50%;
    opacity: 0.6;

    border: 1px solid #FBF1EB;
    outline: 1px solid #DBC8BD;
    outline-offset: -5px;
    padding: 10px;
    position: relative;
    line-height: 10px;
}

.float-left {    
    shape-outside: circle();
    float: left;
    padding: 30px;
}

.float-right {
    shape-outside: circle();
    float: right;
    padding: 20px;
}

/* footer */

footer {
    height: 150px;
    width: 100%;
    position: sticky;
}

.footer-links {    
    text-align: center;
}

.footer-links li {
    list-style: none;
    display: inline;
}

.footer-links i {
    text-decoration: none;
    color: #bba395;
    font-size: 160%;
    margin: 1%;
    padding: 5%;
}

.footer-links i:hover {
    color: #FBF1EB;
}